@import "../../scss/_variables.scss";

.TodoList {
  padding: $spacer;

  &-input {
    margin-bottom: $spacer;
  }

  &-check {
    text-decoration: line-through;
  }

  &-show {
    display: none !important;
  }
}
