@import "../../../scss/_variables.scss";

.Timer {
  height: 200px;
  width: 200px;
  cursor: pointer;

  &-button {
    padding-left: $spacer*7.5;
    padding-top: $spacer*2;
  }

  .CircularProgressbar-path { stroke: green !important; }
  .CircularProgressbar-trail { stroke: red !important; }
  .CircularProgressbar-text { fill: black !important; }
  .CircularProgressbar-background { fill: red !important; }

  &--resting {
    .CircularProgressbar-path { stroke: red !important; }
    .CircularProgressbar-trail { stroke: green !important; }
  }


}
